extends layout

include inputFieldMixin.pug

block content
  h1.text-2xl.font-bold.mb-7= title

  form.flex.flex-col.gap-6.max-w-sm(action="", method="post")
    +inputField("Admin Password")(
      type="password",
      name="adminPassword",
      autocomplete="current-password",
      value=adminPassword,
      placeholder="Enter the admin password",
      required
    )
    +inputField("Category Name")(
      type="text",
      name="name",
      value=category.name,
      required
    )
    +inputField("Description")(
      type="textarea",
      name="description",
      placeholder="Enter a description...",
      value=category.description
    )

    if errors
      each error in errors
        p.text-red-500.text-sm= error.msg

    button.p-2.bg-blue-500.font-bold.rounded-md(class="text-white/90", type="submit")= title
