extends layout

block content
  h1.text-xl.font-bold.mb-5= title

  form.flex.flex-col.gap-6.max-w-sm(action="", method="post")
    label.flex.flex-col.gap-2
      strong Item Name
      input.border-gray-400.shadow-sm.border-gray-300.rounded-md(
        type="text",
        name="name",
        class="focus:ring-opacity-50 focus:ring-sky-200",
        value=name,
        required
      )

    label.flex.flex-col.gap-2
      strong Description #[span.text-gray-400.text-sm.font-normal (optional)]
      textarea.border-gray-400.shadow-sm.border-gray-300.rounded-md(
        name="description",
        value=description,
        placeholder="Enter a description...",
        class="focus:ring-opacity-50 focus:ring-sky-200"
      )
    label.flex.flex-col.gap-2
      strong Categories #[span.text-gray-400.text-sm.font-normal (optional, max 5)]

      p.text-gray-400.text-sm Desktop users: press #[code ctrl+click] to select multiple categories.

      select.border-gray-400.shadow-sm.border-gray-300.rounded-md(
        name="categories",
        class="focus:ring-opacity-50 focus:ring-sky-200",
        multiple
      )
        each category in categories 
          option(value=category._id, selected=category.selected)= category.name

    label.flex.flex-col.gap-2
      strong Price
      input.border-gray-400.shadow-sm.border-gray-300.rounded-md(
        type="number",
        value=price,
        name="price",
        placeholder="Enter price in USD",
        class="focus:ring-opacity-50 focus:ring-sky-200",
        min="0",
        step="any",
        required
      )

    label.flex.flex-col.gap-2
      strong Number in stock
      input.border-gray-400.shadow-sm.border-gray-300.rounded-md(
        type="number",
        value=numberInStock,
        name="numberInStock",
        class="focus:ring-opacity-50 focus:ring-sky-200",
        min="0",
        step="1",
        onkeypress="return event.charCode >= 48 && event.charCode <= 57",
        required
      )

    if errors
      each error in errors
        p.text-red-500.text-sm= error.msg

    button.p-3.bg-blue-500.font-bold.rounded-md(class="text-white/90", type="submit") Create Item
