extends layout

include inputFieldMixin.pug

block content
  .flex.flex-center
    div
      h1.text-2xl.font-bold.mb-7= title

      form(action="", method="post")
        h2.text-lg Are you sure you want to delete #[strong #{ item.name }]?

        .max-w-sm.my-6
          +inputField("Admin Password")(
            type="password",
            name="adminPassword",
            autocomplete="current-password",
            value=adminPassword,
            placeholder="Enter the admin password",
            required
          )

        .flex.gap-2
          a.bg-gray-200.font-bold.py-1.px-2.rounded-md(
            class="dark:bg-dark-secondary",
            href=item.url
          ) Cancel
          button.bg-red-700.text-white.font-bold.py-1.px-2.rounded-md(
            type="submit"
          )= title
