extends layout

include mixins/itemCardMixin.pug

block content
  .flex.gap-6.mt-6.flex-wrap
    form.flex.flex-col(method="get", action="")
      h1.text-lg.font-bold.mb-4 Categories

      each category in categories
        label.mb-2.flex.items-center
          input.rounded.border-gray-300.text-indigo-600.shadow-sm(
            type="checkbox",
            name="category",
            checked=category.checked,
            value=category._id,
            class="focus:border-indigo-300 focus:ring focus:ring-offset-0 focus:ring-indigo-200 focus:ring-opacity-50"
          )
          strong.text-sm.ml-2= category.name

      a.text-sm.text-center.text-gray-400(
        class=hasFilterApplied ? "" : "invisible",
        href="/inventory"
      ) Reset all filters

      button.bg-green-600.font-bold.rounded-md.text-sm.p-1.mt-2(
        type="submit",
        class="text-white/90"
      ) Go

    if items.length
      .grid.gap-5.grow(class="grid-cols-[repeat(auto-fill,minmax(210px,1fr))]")
        each item in items
          +itemCard(item)
    else
      p.grow.text-gray-500.grid.place-items-center No items found. #{ hasFilterApplied ? "Try clearing the filters." : "" }
