extends layout

block content
  .flex.flex-col.flex-center
    .flex.flex-col.gap-3
      h1.text-2xl.font-bold= item.name
      p.text-gray-400.text-sm= item.description
      p.text-lg.text-green-400.font-bold= item.priceString

      if item.imageUrl
        img.w-full.max-h-64(src=item.imageUrl, alt="")

      p.text-sm
        if item.numberInStock === 0
          span.text-red-600 Out of stock
        else
          span.text-gray-400 Inventory: #{ item.numberInStock }

      .flex.flex-wrap.gap-2
        each category in item.categories
          a.text-sm.bg-gray-200.py-1.px-2.rounded-full.truncate.block(
            class="dark:bg-dark-secondary",
            href=category.url
          ) #{ category.name }

      .mt-3.flex.gap-2.text-center
        a.bg-green-600.py-1.px-2.rounded-md.font-bold.text-white(
          href=item.url + "/update"
        ) Update Item

        a.bg-red-700.py-1.px-2.rounded-md.font-bold.text-white(
          href=item.url + "/delete"
        ) Delete Item
