extends layout

block content
  .flex.flex-col.justify-center.items-center
    div
      h1.text-xl.font-bold.mb-4= item.name
      p.text-gray-400.text-sm.mb-2= item.description
      p.text-lg.text-green-400.font-bold= item.priceString
      if item.imageUrl
        img.w-32.h-32(src=item.imageUrl, alt="")

      .flex.flex-wrap.gap-2
        each category in item.categories 
          a.text-sm.bg-gray-200.py-1.px-2.rounded-full.truncate.block(
            href=category.url
          ) #{ category.name }
      .mt-3
        a.mr-2.bg-green-600.py-1.px-2.rounded-md.font-bold.text-white(
          href=item.url + "/update"
        ) Update Item

        a.bg-red-700.py-1.px-2.rounded-md.font-bold.text-white(
          href=item.url + "/delete"
        ) Delete Item
