extends layout

include inputFieldMixin.pug

block content
  script.
    let prevImg = "";

    function clearPreview() {
      const clearPreview = document.querySelector('input[type="checkbox"]');
      const preview = document.querySelector("img");
      const imageInput = document.querySelector('input[type="file"]');

      imageInput.disabled = clearPreview.checked;

      if (clearPreview.checked) {
        prevImg = preview.src;
        preview.src = "https://placehold.co/112x112";
      } else {
        preview.src = prevImg;
      }
    }

    function previewFile() {
      const preview = document.querySelector("img");
      const removeImageCheckbox = document.getElementById("remove-image-checkbox");
      const file = document.querySelector('input[type="file"]').files[0];
      const reader = new FileReader();
      reader.onloadend = function () {
        preview.src = reader.result;
      };

      if (file) {
        removeImageCheckbox.style.visibility = "visible";
        reader.readAsDataURL(file);
      } else {
        preview.src = "https://placehold.co/112x112";
        removeImageCheckbox.style.visibility = "hidden";
      }
    }

  h1.text-xl.font-bold.mb-5= title

  form.flex.flex-col.gap-6.max-w-sm(
    action="",
    method="post",
    enctype="multipart/form-data"
  )
    +inputField("Admin Password")(
      type="password",
      name="adminPassword",
      autocomplete="off",
      value=adminPassword,
      placeholder="Enter the admin password",
      required
    )

    +inputField("Item Name")(
      type="text",
      name="name",
      value=item.name,
      required
    )

    div
      label.flex.flex-col.gap-2.items-center
        strong Item Image #[span.text-gray-400.text-sm.font-normal (optional)]

        img.w-24.h-24(
          src=item.imageUrl || "https://placehold.co/112x112",
          alt=""
        )

        input.text-sm.hidden.peer(
          type="file",
          name="image",
          accept="image/*",
          onchange="previewFile()"
        )
        span.w-full.bg-gray-100.py-1.px-2.rounded-md.cursor-pointer.text-zinc-400.max-w-xs.flex.flex-center.gap-3(
          class="peer-disabled:opacity-50 peer-disabled:cursor-not-allowed dark:bg-dark-secondary dark:text-zinc-300"
        )
          span(class="text-[19px]")
            i.fa.fa-cloud-upload(aria-hidden="true")

          span.text-sm.font-bold Select an image

      label#remove-image-checkbox.flex.gap-2.flex-center.mt-2(
        style=item.imageUrl ? "visibility: visible;" : "visibility: hidden;"
      )
        input.rounded.border-gray-300.text-indigo-600.shadow-sm(
          type="checkbox",
          name="clear-image",
          onchange="clearPreview()",
          class="focus:border-indigo-300 focus:ring focus:ring-offset-0 focus:ring-indigo-200 focus:ring-opacity-50"
        )

        strong.text-sm Remove Image

    +inputField("Description")(
      type="textarea",
      name="description",
      value=item.description,
      placeholder="Enter a description..."
    )
    +inputField("Price")(
      type="number",
      name="price",
      value=item.price ? item.price.amount : undefined,
      placeholder="Enter price in USD",
      min="0",
      step="any",
      required
    )
    +inputField("Number in stock")(
      type="number",
      name="numberInStock",
      value=item.numberInStock,
      min="0",
      step="1",
      onkeypress="return event.charCode >= 48 && event.charCode <= 57",
      required
    )

    label.flex.flex-col.gap-2
      strong Categories #[span.text-gray-400.text-sm.font-normal (optional, max 5)]

      p.text-gray-400.text-sm Desktop users: press #[code ctrl+click] to select multiple categories.

      select.shadow-sm.border-gray-200.rounded-md(
        name="categories",
        class="focus:ring-opacity-50 focus:ring-sky-200 dark:focus:ring-blue-300 dark:border-zinc-800 dark:bg-dark-secondary",
        multiple
      )
        each category in categories 
          option(value=category._id, selected=category.selected)= category.name

    if errors
      each error in errors
        p.text-red-500.text-sm= error.msg

    button.p-3.bg-blue-500.font-bold.rounded-md(class="text-white/90", type="submit")= title
