mixin header
  header.z-10.sticky.top-0.px-6.py-3.flex.justify-between.flex-wrap.gap-3.bg-neutral-50.border-b.border-b-slate-200(
    class="dark:bg-dark dark:border-b-slate-600"
  )
    .flex.gap-2.items-center.flex-wrap
      a(href="/")
        i.fa.fa-home.fa-lg(aria-label="Homepage")

      form.flex.items-center(method="GET", action="/search")
        label.sr-only(for="search") Search
        .relative.w-full
          input#search.pr-8.shadow-sm.border-gray-200.rounded-md.text-sm(
            class="py-[3px] focus:ring-blue-500 focus:border-blue-500 dark:bg-dark-secondary dark:border-zinc-800",
            type="search",
            placeholder="Search inventory",
            name="q",
            required
          )
          button.absolute.inset-y-0.right-0.flex.items-center.pr-2(
            aria-label="Search"
          )
            i.fa.fa-search.text-gray-500(class="dark:text-gray-400", aria-hidden="true")

    nav.flex.gap-3.flex-wrap
      a(href="/inventory") Inventory
      a(href="/inventory/categories") Categories
      .relative.dropdown
        button(type="button") Create
        ul.absolute.right-0.mt-2.shadow-lg.rounded.w-48.hidden.flex.flex-col.bg-neutral-50(
          class="dark:bg-dark dark:shadow-white/5"
        )
          a.px-4.py-2.flex.items-center.gap-3(
            href="/inventory/item/create",
            class="hover:bg-neutral-200 dark:hover:bg-white/10 dark:bg-dark"
          ) #[i.fa.fa-plus.text-gray-500(aria-hidden="true")] Item

          a.px-4.py-2.flex.items-center.gap-3(
            href="/inventory/category/create",
            class="hover:bg-neutral-200 dark:hover:bg-white/10 dark:bg-dark"
          ) #[i.fa.fa-plus.text-gray-500(aria-hidden="true")] Category

      .border-l.border-l-slate-200.pl-3(class="dark:border-l-neutral-700")
        button.toggle-theme-button
          i.fa.toggle-theme-icon.fa-lg.mr-3(
            class="min-w-[16px]",
            aria-label="toggle theme"
          )

        a(
          href="https://github.com/Sharkri/inventory-app",
          target="_blank",
          rel="noreferrer"
        ) #[i.fa.fa-github.fa-lg(aria-hidden="true")]

      script.
        const theme = {
          dark: {
            icon: "fa-moon-o",
            color: "text-gray-400",
          },

          light: {
            icon: "fa-sun-o",
            color: "text-orange-400",
          },
        };

        const toggleThemeIcon = document.querySelector(".toggle-theme-icon");

        function initialThemeLoad() {
          const { icon, color } = document.documentElement.classList.contains("dark") ? theme.dark : theme.light;
          toggleThemeIcon.classList.add(icon);
          toggleThemeIcon.classList.add(color);
        }

        initialThemeLoad();

        function toggleTheme() {
          const colorTheme = localStorage.getItem("color-theme");
          localStorage.setItem("color-theme", colorTheme === "dark" ? "light" : "dark");
          document.documentElement.classList.toggle("dark");

          toggleThemeIcon.classList.toggle(theme.light.icon);
          toggleThemeIcon.classList.toggle(theme.light.color);

          toggleThemeIcon.classList.toggle(theme.dark.icon);
          toggleThemeIcon.classList.toggle(theme.dark.color);
        }

        const toggleThemeBtn = document.querySelector(".toggle-theme-button");
        toggleThemeBtn.addEventListener("click", toggleTheme);

        document.querySelectorAll(".dropdown button").forEach((btn) =>
          btn.addEventListener("click", () => {
            const dropdown = btn.nextElementSibling;
            dropdown.classList.toggle("hidden");
          })
        );
